/* ===== ESTILO GENERAL ===== */
body {
  margin: 0;
  font-family: 'Segoe UI', Arial, sans-serif;
  background: #3B1F1f;
  color: #222;
  text-align: center;
}

h1 {
    margin: 20px 0;
    font-size: 34px;
    color: #F5E6C8; /* crema claro */
    font-weight: bold;
    text-shadow: 
        2px 2px 6px rgba(0,0,0,0.85);
}

/* ===== GALERÍA 2x2 ===== */
.galeria {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  max-width: 720px;
  margin: 30px auto;
  padding: 10px;
}

.galeria img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 8px 18px rgba(0,0,0,0.15);
  transition: transform 0.3s, box-shadow 0.3s;
   background-color: #3B1F1f;
}

.galeria img:hover {
  transform: scale(1.05);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25);
}

/* ===== VISOR PANTALLA COMPLETA ===== */
#visor {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.9);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#visor img {
  max-width: 90%;
  max-height: 85%;
  border-radius: 12px;
}

/* ===== BOTÓN CERRAR ===== */
#close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 32px;
  color: white;
  cursor: pointer;
  user-select: none;
}

/* ===== FLECHAS ===== */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  color: white;
  cursor: pointer;
  user-select: none;
}

.arrow.left {
  left: 30px;
}

.arrow.right {
  right: 30px;
}

.arrow:hover,
#close:hover {
  color: #00c3ff;
}

