body{
  margin: 0;
  font-family: Arial, sans-serif;
  background: red;
  color: white;
  text-align: center;
}

h1{
  margin: 20px 0;
}

/* GALERÍA */
.galeria{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 15px;
}

.galeria img{
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 12px;
  cursor: pointer;
}

/* VISOR */
.visor{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.visor img{
  max-width: 95%;
  max-height: 90%;
  border-radius: 10px;
}

/* BOTÓN CERRAR */
.cerrar{
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 30px;
  cursor: pointer;
}
