/* =========================
   CONFIGURACIÓN GENERAL
========================= */
body{
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
  text-align: center;
}

h1{
  margin: 20px 0;
}

/* =========================
   GALERÍA
========================= */
.galeria{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 12px;
  padding: 15px;
}

.item{
  background: #1a1a1a;
  padding: 8px;
  border-radius: 12px;
}

.item img{
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}

.item p{
  margin: 6px 0 0;
  font-size: 12px;
  color: #ddd;
}

/* =========================
   VISOR PANTALLA COMPLETA
========================= */
.visor{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.95);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

/* =========================
   IMAGEN GRANDE
   AQUÍ SE CONTROLA EL TAMAÑO
========================= */
#imagenGrande{
  max-width: 95vw;
  max-height: 95vh;
  width: auto;
  height: auto;
  object-fit: contain;
  border-radius: 12px;
}

/* =========================
   BOTÓN CERRAR
========================= */
.cerrar{
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 35px;
  color: white;
  cursor: pointer;
  z-index: 10000;
}
