*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FONDO GENERAL */
body{
  font-family: Arial, sans-serif;
  background: brown; /* color madera */
  color: white;
  text-align: center;
}

/* TITULO */
h1{
  margin: 20px 0;
}

/* GALERIA */
.galeria{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  padding: 15px;
}

/* CADA ITEM (IMAGEN + NOMBRE) */
.item{
  display: flex;
  flex-direction: column; /* CLAVE: pone el texto debajo */
  align-items: center;
}

/* IMAGEN */
.item img{
  width: 100%;
  border-radius: 15px;
  object-fit: cover;
  max-height: 150px;
}

/* NOMBRE DEBAJO */
.item span{
  margin-top: 8px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
@media (max-width: 200px){
  .galeria{
    grid-template-columns: repeat(4, 1fr);
  }
}

