/* ====== ESTILO GENERAL ====== */
body{
  margin: 0;
  font-family: Arial, sans-serif;
  background: red;
  color: white;
  text-align: center;
}

h1{
  margin: 20px 0;
}

/* ====== GALERÍA ====== */
.galeria{
  display: grid;
  grid-template-columns: repeat(4-fill, minmax(110px, 1fr));
  gap: 12px;
  padding: 15px;
}

.item{
  text-align: center;
}

.item img{
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 12px;
  cursor: pointer;
}

.item p{
  margin-top: 6px;
  font-size: 13px;
}

/* ====== VISOR PANTALLA COMPLETA ====== */
.visor{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.95);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

#imagenGrande{
  max-width: 95%;
  max-height: 90%;
  object-fit: contain;
  border-radius: 10px;
}

/* ====== BOTÓN CERRAR ====== */
.cerrar{
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 35px;
  cursor: pointer;
  color: white;
}
