body{
  margin: 0;
  font-family: Arial, sans-serif;
  background: purple !important;
  color: white;
  text-align: center;
}

h1{
  margin: 20px 0;
}

/* GALERÍA */
.galeria{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 20px;
  padding: 15px;
  bacground: red;
}

/* VISOR PANTALLA COMPLETA */
.visor {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.9);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}

/* IMAGEN GRANDE */
#imagenGrande/* IMAGEN GRANDE */
#imagenGrande {
  max-width: 100vw;
  max-height: 100vh;
  width: auto;
  height: auto;
  object-fit: contain;
  display: block;
  border-radius: 10px;
} 

/* BOTÓN CERRAR */
.cerrar {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 35px;
  color: white;
  cursor: pointer;
  z-index: 100000;
}


