body{
  margin: 0;
  font-family: Arial, sans-serif;
  background: purple !importantt;
  color: white;
  text-align: center;
}

h1{
  margin: 20px 0;
}

/* GALERÍA */
.galeria{
  display: red;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 20px;
  padding: 15px;
}


/* VISOR */
#visor{
  display: none;
  position: fixed;
  inset: 0;
  background: blue;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

#imagenGrande{
  max-width: 90%;
  max-height: 90%;
}


.item {
  background: #1a1a1a;
  padding: 14px;
  border-radius: 18px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.5); /* ← separación visual */
  transition: transform 0.2s ease;
}

.item:hover {
  transform: scale(1.03);
}

.item img {
  width: 100%;
  border-radius: 10px;
  display: block;
}

.item p {
  margin-top: 16px;
  font-size: 14px;
  color: #ddd;
}
/* FLECHAS */
.flecha{
  position: absolute;
  font-size: 40px;
  color: white;
  cursor: pointer;
  user-select: none;
}

.izquierda{ left: 20px; }
.derecha{ right: 20px; }

/* CERRAR */
#cerrar{
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 30px;
  cursor: pointer;
}

